<input type="text" [(ngModel)]="title">

<p>{{title}}</p>

<button (click)="backgroundToggle = !backgroundToggle">toggle</button>

<!-- <p *ngIf="backgroundToggle; else second" class="red">1</p>

<ng-template #second>
    <p class="blue">2</p>
</ng-template> -->

<!-- <div [ngSwitch]="backgroundToggle">
    <p *ngSwitchCase="true" class="red">red</p>
    <p *ngSwitchCase="false" class="blue">blue</p>
    <p *ngSwitchDefaul>default</p>
</div> -->

<ul>
    <li *ngFor="let i of arr; let index = index">
        {{index + 1}} = <strong>{{i}}</strong>
    </li>
</ul>